@model Tychaia.Website.ViewModels.BlogIndexViewModel
@using Tychaia.Website;
@{
    ViewBag.Title = "Home";
}

<h2>What is Tychaia?</h2>
<div class="block">
    <p>
        <i>"Imagine a game where the world never ends, the scale is infinite and there's always one more quest. Where the game starts with nothing and ends with your death. Welcome to Tychaia."</i>
    </p>
    <p>
        Tychaia is an isometric open world action-adventure game with a procedurally generated world. Death brings a harsh penalty - your entire game world is regenerated, you lose everything.
    </p>
    <p>
        Tychaia is still in early development.  You can follow
        the latest developments via:
    </p>
    <ul>
        <li>
            The <a href="http://forums.tigsource.com/index.php?topic=27727.0">development logs</a> on TIGSource.
        </li>
        <li>The <a href="https://github.com/hach-que/Tychaia">development repository</a> on GitHub.</li>
        <li>The <a href="http://code.redpointsoftware.com.au/maniphest/view/all/">task and code review tracker</a> called Phabricator.</li>
        <li>
            The
            <a href="https://plus.google.com/communities/111849161186026536208">Google+</a>
            or
            <a href="https://www.facebook.com/RedpointSoftware">Facebook</a>
            communities.
        </li>
    </ul>
    <p>You can also contact the developers directly via:</p>
    <ul>
        <li><a href="http://www.twitter.com/#!/hachque">James Rhodes</a> on Twitter.</li>
        <li><a href="http://www.twitter.com/#!/Sabre070">Josh Harvey</a> on Twitter.</li>
    </ul>
</div>
<h2>
    Tychaia Devlog
    <span class="actions">(<a href="/feed">RSS Feed</a>)</span>
</h2>
@foreach (var post in Model.Posts)
{
    <div class="block phame">
        <div class="details">
            <div class="author">@post.Author</div>
            <div class="date">@DateTimeHelper.RenderTimestamp(post.UNIXDatePublished)</div>
        </div>
        <h3><a href="@post.Uri">@post.Title</a></h3>
        @Html.Raw(post.Summary)
    </div>
}
