@using Tychaia.Website;
@using Cassette.Views;
@{
    try
    {
        Bundles.Reference("Content");
        Bundles.Reference("Scripts");
    }
    catch (System.NullReferenceException)
    {
        // This crashes under unit tests.
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Tychaia - @ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    <meta name="description" content="Tychaia is an infinite, procedurally generated RPG.">
    <meta name="author" content="Redpoint Software">
    <meta charset="UTF-8" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>
                Tychaia
            </h1>
        </div>
        <div id="navigation">
            <ul>
                @Html.MenuItem("Home", "Index", "Home")
                @Html.MenuItem("Download Pre-Alpha", "Index", "Download")
                @Html.MenuItem("Development Wiki", "Index", "Wiki")
                <li><a href="http://makemeaworld.com/" target="_blank">Make me a World!</a></li>
            </ul>
        </div>
        @RenderBody()
        <div id="footer">
             &#169; <a href="http://www.redpointsoftware.com.au/">Redpoint Software</a> @DateTime.Now.Year
        </div>
    </div>
    @Bundles.RenderScripts()
</body>
</html>
